body{
	font-family: sans-serif;
	background-color: black;
}

h3{
	color: white;
	font-size: 30px;
	text-align: center;
}

.form{
	display: flex;
	gap: 10px;

}

.left,
.rigth{
	width: 50%;
}

textarea{
	width: 100%;
	height: 500px;
	padding: 20px;
	box-sizing: border-box;
	font-size: 20px;

	color: lightgreen;
	background-color: #0979b0;
	border: double 5px red;
}

#bConvert{
	background-color: #0979b0;
	color: lightgreen;
	font-size: 15px;
	padding: 15px 30px;

	border-radius: 10px;
	border: solid 1px red;
	cursor: pointer;
}
#bConvert:hover{
	background-color: #0949b1;
	transform: scale(1.1);
}